<div class="container-fluid">
  <div class="row">
    <%# 聊天列表 %>
    <div class="col-3">
      <%= render 'form', room: Room.new %>
      <hr>
      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card mb-3">
            <div class="card-body">
              <%= room.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# 聊天視窗 %>
    <div class="col-9">
      <% if @room.present? %>
        <p><%= @room.name  %></p>
        <div class="chat-room">
          <%= render 'messages/form', message: Message.new %>
        </div>
      <% end %>
    </div>
  </div>
</div>
